.settings__ul {
    margin: 0;
    padding: 0;
}

.settings__ul > .settings__ul-heading{
    display: inline-block;
    font-size: .8em;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 15px !important;
    padding-bottom: 7px !important;
    color: #aaa7a7;
    padding-left: 0 !important;
}

.settings__ul-heading:first-child{
    padding-top: 0 !important;
}

.settings__ul > li {
    transition: all .3s ease;
}

.settings__ul > li:hover {
    background: #e9ebf7;
}

.settings__ul > li > a {
    width: 100%;
    font-size: .9em;
    color: #86939e;
    border-radius: 0 !important;
}

.settings__ul > li > a:hover{
    color: #646363;
    border-right: 3px solid #3f51b5;
}

.settings__ul .nav-link.active,
.settings__ul .show > .nav-link{
    color: #686868;
    background: #e9ebf7;
    border-right: 3px solid #3f51b5;
}

.title-page {
    font-size: 1.6em;
    margin-bottom: 0;
    font-weight: 500;
}

.settings__ul-bullet{
    margin-right: 5px;
}

.setting__ul-heading-first {
    font-size: 1.3em !important;
    font-weight: bold;
}

.aside{
    position: relative;
}
.aside:before {
    content: "";
    position: absolute;
    top: -50%;
    right: 1px;
    width: 1px;
    height: 200%;
    background: #e3e3e3;
    z-index: -1;
}