
@media (min-width:0) and (max-width: 468px) {
    .aside{
        /* padding: 0 28px !important; */
        /* border: 1px solid red !important; */

    }
    .aside main,
    #header{
        padding: 0 28px;
        /* border: 1px solid red !important; */
    }

    .aside main{
        padding-bottom: 15px !important;
    }

    main .heading{
        font-size: 2.1em;
    }

    .sct-ctn{
        flex-direction: column;
    }

    
}

@media (min-width: 469px) and (max-width: 550px) {
    .sct-ctn{
        flex-direction: column;
    }
}

@media (min-width: 551px) and (max-width: 767px) {
    /* .sct-ctn{
        flex-direction: column;
    } */
    .sct-bloc{
        width: 50%;
        /* flex-direction: column; */
    }

    .sct-bloc:not(:last-of-type){
        margin-right: 10px;
    }
}

@media (min-width: 469px) and (max-width: 767px) {
    /* .sct-ctn{
        flex-direction: column;
    } */

    

}

@media (min-width: 768px) and (max-width: 991px) {
    #login .aside{
        flex: 0 0 45%;
        max-width: 45%;
    }

    #login .wrapper [class*="col-md-8"],
    #login .wrapper [class*="col-md-7"]{
        flex: 0 0 55%;
        max-width: 55%;
    }

    #register .aside{
        flex: 0 0 45%;
        max-width: 45%;
    }

    #register .wrapper [class*="col-md-8"],
    #register .wrapper [class*="col-md-7"]{
        flex: 0 0 55%;
        max-width: 55%;
    }

    

    .aside main,
    #header{
        padding: 0 28px;
        /* border: 1px solid red !important; */
    }

    .aside main{
        padding-bottom: 30px;
    }


    #login .wrapper [class*="col-md-8"],
    #login .wrapper [class*="col-md-7"] {
        position: fixed;
        width: 55%;
        height: 100% !important;
        left: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
    }

    .sct-ctn{
        flex-direction: column;
    }
}

@media (min-width: 992px) and (max-width: 1150px) {
    .aside main,
    #header{
        padding: 0 38px;
        /* border: 1px solid red !important; */
    }

    .sct-ctn{
        flex-direction: column;
    }
}

@media (min-width: 1151px) and (max-width: 1199px) {
    .aside main,
    #header{
        padding: 0 28px;
        /* border: 1px solid red !important; */
    }
    
    .sct-ctn .sct-bloc:not(:last-of-type){
        margin-right: 10px;
    }

    .sct-bloc{
        /* flex-direction: column; */
        width: 50%;
    }
}


@media screen and (max-width: 767px) {
    #login .aside{
        height: 100vh !important;

    }

    #login .wrapper [class*="col-md-8"],
    #login .wrapper [class*="col-md-7"]{
        display: none
    }

    #register-header{
        position: relative;
        padding: 0 15px;
    }

    #register-header #logo > .brand--large{
        display: none !important;
    }
    #register-header #logo > .brand--small{
        /* display: none; */
        /* width: 180px; */
    }

    
    #register .wrapper{
        flex-direction: column;
        /* margin: 0; */
    }

    #register .aside{
        margin-top: 10px;
        padding-top: inherit;
    }

    
    #register-header .help{
        margin-right: 25px;
    }

    #register-header .help__icon{
        display: none;
        margin-right: 15px;
    }

    .help__content{
        white-space: nowrap;
    }
    
    /* .help__content > span{
        font-size: .85em;
    }

    .help__content > a{
        font-size: .9em;
    } */

    #register .aside > h4 {
        font-weight: 500;
        font-size: .8em;
        margin-bottom: 0;
        margin-top: 10px;
    }

    #register .aside > ul > li{
        padding-bottom: 0;
        font-family: "Poppins", sans-serif;
        color: #1572c5;
        position: absolute;
        margin-bottom: 10px;
        visibility: hidden;
        opacity: 0;
    }

    #register .aside > ul > li.active{
        visibility: visible;
        opacity: 1;
    }

    #register .aside:before,
    #register .aside:after{
        content: inherit;
    }

    #register .aside > ul{
        width: 100%;
        /* display: none; */
        padding-bottom: 10px;
    }

    #register #step-info-parent {
        display: none;
        visibility: hidden;
        height: 0;
        opacity: 0;
        margin: 0;
        padding: 0;
    }

    .form__progressBar{
        position: absolute;
        width: 100%;
        left: 0;
    }

    .form__progressBar .step{
        height: 8px;
    }

    #register main {
        padding-top: 30px;
        padding-bottom: 20px;
        margin-top: 0;
        width: 100%;
        padding: 0;
        /* border: 1px solid red; */
        padding-top: 30px;
    }

    .spc-combo-products__iconTextContainer {
        line-height: 1.1;
        margin-bottom: 8px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }

    #register .date-ctn > input:last-child {
        margin-right: 0;
    }
    
    
    

    #register-footer{
        position: inherit;
        bottom: inherit;
        height: inherit;
        padding: 20px 15px;
    }

    body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
    }
    #register .wrapper .col-md-4{
        background: #fff;
    }
}

@media screen and (min-width: 768px) {
    #login .aside{
        height: 100vh !important;

    }

    #register-header #logo > .brand--large{
        display: inline-block !important;
        width: 8rem;
        height: 3rem;
    }
    #register-header #logo > .brand--small{
        /* width: 180px; */
        display: none !important;
    }
    
}


@media screen and (min-width: 1200px) {
    /* .container,
    .container-sm,
    .container-md,
    .container-lg,
    .container-xl {
        max-width: 1250px !important;
    } */
    
    
    .sct-ctn > section{
        width: 50%;
        /* flex-direction: column; */
    }

    .sct-bloc:not(:last-of-type){
        margin-right: 10px;
    }
    
    #login .aside{
        min-width: 470px;
        max-width: 470px;
    }
    
    #register .aside{
        /* min-width: 860px; */
        /* max-width: 860px; */
    }

    /* .wrapper [class*="col-md-8"] {
        position: fixed;
        z-index: -1;
        left: 0;
        max-width: 100% !important;
        background-color: #00aaae !important;
    } */


    

    #login .wrapper [class*="col-md-8"],
    #login .wrapper [class*="col-md-7"] {
        position: fixed;
        /* flex: 0 0 100%; */
        max-width: 100%;
        width: 64%;
        /* height: 100% !important; */
        left: 0;
        /* top: 0; */
        /* bottom: 0; */
        z-index: -1;
    }

    #register .aside {
        /* flex: 0 0 65%; */
        /* max-width: 65%; */
    }

    #register .wrapper [class*="col-md-8"],
    #register .wrapper [class*="col-md-7"]{
        display: flex;
        /* flex: 0 0 35%; */
        /* max-width: 35%; */
    }

    #register > .container{
        padding-left: 0;
        padding-right: 0;
    }
    #register > .container .col-md-4{
        padding-left: 0;
        padding-right: 0;
    }
}

